body,div,ul,li{margin: 0;padding: 0;}
ul,li{list-style: none;}
/*清除浮动*/
.clearfix { clear: both; *zoom:1;}
.clearfix:after { display: block; clear: both; content: "\0020"; visibility: hidden; height: 0; }